//Colors
$color-primary: #00ccbc;
$color-secondary: #e60550;
$color-dark-1: #1f212e;
$color-dark-2: #292c3d;
$color-black: #000;
$color-white: #fff;

//Fonts
$font-main: "Sofia Pro", sans-serif;
$font-special: Rift, serif;
$font-size: 1.8rem;

//Breakpoints
$bp-tablet: 769px;
$bp-laptop: 1025px;
$bp-desktop: 1201px;

//Grid
$container: 160rem;
