.footer {
  background-color: $color-dark-2;
  font-size: 1.6rem;
  padding-block: 2rem;
  text-align: center;

  @include mq($bp-laptop) {
    padding-block: 3rem;
    text-align: left;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include mq($bp-laptop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__nav {
    ul {
      display: flex;
      justify-content: center;
      gap: 4rem;
    }
  }
}
