.social {
  ul {
    align-items: center;
    display: flex;
    gap: 4rem;
  }

  a {
    display: flex;
    font-weight: normal;
  }

  svg {
    fill: $color-white;
    transition: 0.3s;

    &:hover {
      fill: $color-primary;
    }
  }

  &--home {
    display: none;

    @include mq($bp-laptop) {
      display: block;
      position: fixed;
      right: 5rem;
      top: 40%;
      transform: translateY(-50%);

      ul {
        flex-direction: column;
      }
    }
  }
}
