.widgets {
  display: grid;
}

.widget {
  &__title {
    border-left: 4px solid $color-secondary;
    color: $color-white;
    font-family: $font-special;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 3rem;
    padding-left: 1.5rem;
  }

  &__list {
    color: $color-white;
    display: grid;
    gap: 1.5rem;
    line-height: 1.2;

    li {
      align-items: center;
      display: flex;
      gap: 0.5rem;

      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.page--contact {
  .container--narrow {
    display: flex;
    flex-direction: column-reverse;
    gap: 10rem;

    @include mq($bp-laptop) {
      flex-direction: row;
      justify-content: space-between;

      .form {
        flex: 2;
      }
    }
  }
}
